!!! 5
html
  head
    title ics to csv
  body
    h2 very basic ics to csv converter
    h3 input the url of your ics
    form(name="input", action="/", method="post")
        p ics url:
            input(type="text", name="icsUrl")
        input(type="submit", value="Submit")